/* --------------------> FOOTER <---------------------- */

footer {
    background-color: var(--prime-color);
    padding: 20px;
    text-align: center;
    border-top: 2px solid var(--border-color);
}


.social-icons a {
    display: inline-block;
    margin: 0 25px;
}

.social-icons img {
    width: 20px;
}