/* --------------------> BODY <------------------------ */

:root {
    --prime-color: #14c5a4;
    --text-color: #FFF;
    --progress-color: #d3cc72fc;
    --hover-color: #494875;
    --bg-box-color: #f5f4f450;
    --border-color: #000000;
    --light-color: #b4dcca;
    --input-bg-color: #ddd;
    font-size: 16px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}



/* --------------------> HEADER <---------------------- */

header {
    background-color: var(--prime-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
    img {
        width: 20%;
        max-width: 150px;
        min-width: 100px;
    }
    .font-popeye {
        width: 20%;
        max-width: 200px;
        min-width: 100px;
        opacity: 0;
        animation: aparecer 4s ease forwards;
    }
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn , .btn-home{
    text-decoration: none;
    padding: 10px;
    background-color: var(--prime-color);
    border: 2px solid #ffffff;
    box-shadow: 2px 1px #0000001a;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.btn + .btn {
    display: none;
}

a.hide {
    display: none;
}



/* --------------------> PERSONAJE <-------------------- */

.personaje {
    padding: 2rem 1rem;
}