@media (min-width: 768px) {

/* --------------------> HEADER <---------------------- */

    header {
        padding: 1.5rem 3rem;
    }

    a.hide {
        display: inline-block;
    }

    .nav {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    nav a:hover {
        color: var(--hover-color);
    }

    .btn:first-child {
        display: none;
    }

    .btn + .btn {
        display: block;
    }
    
    

/* --------------------> MAIN<---------------------- */
    
    .personaje {
        margin-left: 3rem;
    }
    
    h1, h2 {
        text-align: center;
    }



/* --------------------> SKILLS <---------------------- */

    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 3rem;
    }

    .skill {
        width: 48%;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .skill label {
        width: 25%;
        text-align: left;
    }
    
    .skill-bar {
        width: 70%;
        margin-left: 15px;
    }


    
/* --------------------> CONTACT <--------------------- */

    .form-buttons button:hover {
        background-color: var(--light-color);
        color: var(--hover-color);
    }



/* --------------------> PROYECTOS <------------------- */

    .proyectos-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .video {
        display: flex;
        justify-content: center;
        video {
        width: 720px;
        margin-top: 10px;
        }
    }
}