@media (min-width: 768px) {

/* --------------------> HEADER <---------------------- */

    header {
        padding: 1.5rem 3rem;
    }

    a.hide {
        display: inline-block;
    }

    nav a:hover {
        color: #494875;
    }
    

/* --------------------> MAIN<---------------------- */
    
    .personaje {
        margin-left: 3rem;
    }
    
    h1, h2 {
        text-align: center;
    }


/* --------------------> SKILLS <---------------------- */

    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 3rem;
    }

    .skill {
        width: 48%;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .skill label {
        width: 25%;
        text-align: left;
    }
    
    .skill-bar {
        width: 70%;
        margin-left: 15px;
    }


    
/* --------------------> CONTACT <--------------------- */

    .form-buttons button:hover {
        background-color: #b4dcca;
    }



/* --------------------> PROYECTOS <------------------- */

    .proyectos-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .video {
        display: flex;
        justify-content: center;
        video {
        width: 720px;
        margin-top: 10px;
        }
    }
}