
h1 {
    margin-bottom: 40px;
}

/* --------------------> VIDEO <---------------------- */

.video {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    video {
      width: 345px;
      margin-top: 20px;
    }
}



/* --------------------> PROYECTOS <------------------- */

.proyectos {
    padding: 20px;
    
}

.proyectos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 2fr));
    gap: 20px;
    justify-content: center;   
    place-items: center;
    text-align: center;
    
}

.proyecto-item img {
    width: 190px;
}